@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  background: var(--color-background);
  color: var(--color-text-main);
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 25px;
  background: var(--color-surface);
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.text {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;
  background: -webkit-linear-gradient(
    right,
    var(--color-primary),
    var(--color-accent),
    var(--color-primary),
    var(--color-accent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name-container,
.email-container,
.issue-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

.input-name,
.input-issue {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #444;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  outline: none;
  color: var(--color-text-main);
}

.input-issue {
  resize: none;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.submit-button {
  padding: 12px 24px;
  background-color: var(--color-primary);
  color: var(--color-text-main);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: var(--color-primary-dark);
}
