@import "https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap";
/* [project]/src/pages/Tickets/Tickets.module.scss.module.css [client] (css) */
.Tickets-module-scss-module__8Y_p-G__body {
  background: var(--color-background);
  min-height: 100vh;
  color: var(--color-text-main);
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: Poppins, sans-serif;
  display: flex;
}

.Tickets-module-scss-module__8Y_p-G__container {
  background: var(--color-surface);
  border-radius: 8px;
  max-width: 800px;
  margin: 50px auto;
  padding: 25px;
  box-shadow: 0 0 20px #00000080;
}

.Tickets-module-scss-module__8Y_p-G__text {
  text-align: center;
  background: -webkit-linear-gradient(right, var(--color-primary), var(--color-accent), var(--color-primary), var(--color-accent));
  -webkit-text-fill-color: #0000;
  -webkit-background-clip: text;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 600;
}

.Tickets-module-scss-module__8Y_p-G__name-container, .Tickets-module-scss-module__8Y_p-G__email-container, .Tickets-module-scss-module__8Y_p-G__issue-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: Poppins, sans-serif;
  display: flex;
}

.Tickets-module-scss-module__8Y_p-G__input-name, .Tickets-module-scss-module__8Y_p-G__input-issue {
  width: 100%;
  color: var(--color-text-main);
  border: 1px solid #444;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

.Tickets-module-scss-module__8Y_p-G__input-issue {
  resize: none;
}

.Tickets-module-scss-module__8Y_p-G__button-container {
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  display: flex;
}

.Tickets-module-scss-module__8Y_p-G__submit-button {
  background-color: var(--color-primary);
  color: var(--color-text-main);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  font-size: 16px;
  transition: background-color .3s;
}

.Tickets-module-scss-module__8Y_p-G__submit-button:hover {
  background-color: var(--color-primary-dark);
}


/* [project]/src/components/Header/Header.module.scss.module.css [client] (css) */
.Header-module-scss-module__wS1-Va__dancing-text {
  background: linear-gradient(90deg, #a78bfa, #f472b6);
  -webkit-text-fill-color: #0000;
  -webkit-background-clip: text;
  padding-top: 10px;
  font-family: Bitcount Grid Double, system-ui;
  font-size: 25px;
  font-weight: 600;
}

.Header-module-scss-module__wS1-Va__header-text-container {
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  display: flex;
}

.Header-module-scss-module__wS1-Va__font-used {
  font-family: poppins, sans-serif;
}

.Header-module-scss-module__wS1-Va__header-container {
  background-color: var(--color-surface);
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  display: flex;
  box-shadow: 0 2px 4px #000;
}

.Header-module-scss-module__wS1-Va__nav-links a {
  color: #6b7280;
  margin-left: 20px;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}

.Header-module-scss-module__wS1-Va__nav-links a:hover {
  color: #7c3aed;
}


/* [project]/styles/global.css [client] (css) */
@layer properties {
  @supports (((-webkit-hyphens: none)) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color: rgb(from red r g b)))) {
    *, :before, :after, ::backdrop {
      --tw-border-style: solid;
      --tw-outline-style: solid;
    }
  }
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.border {
  border-style: var(--tw-border-style);
  border-width: 1px;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.outline {
  outline-style: var(--tw-outline-style);
  outline-width: 1px;
}

:root {
  --color-primary: #a78bfa;
  --color-primary-dark: #7c3aed;
  --color-secondary: #fbbf24;
  --color-background: #f9fafb;
  --color-surface: #fff;
  --color-text-main: #374151;
  --color-text-muted: #6b7280;
  --color-error: #fca5a5;
  --color-success: #86efac;
}

body {
  font-family: Arial, sans-serif;
}

h1 {
  color: red;
  font-size: 50px;
}

@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

@property --tw-outline-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}


/*# sourceMappingURL=_954ce55a._.css.map*/